/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}




:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #f5f5f5;
   --cor-de-link: #000;
   --color-alterno: hsla(195, 53%, 79%, 0.262);
}

body {
    
    /* background: linear-gradient (var(--cor-de-fundo) top),  */
                    /* linear-gradient (var(--color-alterno) bottom); */
    background: linear-gradient(#f5f5f5 9%, #E3F2F5 9% 16%, #f5f5f5 16% 27%, 
                                 #E3F2F5 27% 45%, #f5f5f5 45% 90%, #E3F2F5 90% 98.3%, #f5f5f5 98.3% 100%);

    font-family: 'Raleway';
    color: #464646;
 
    margin: 0 10px 0 10px;
    /* padding: 0 100px 0 25px; */
    line-height: 1;
    display: block;
    position: relative;
    justify-content: center;
    
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    
}

main {
display: flex;
flex-direction: column;
align-items: center;
}

ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

.menu{
    display:inline-flex;
    position: relative;
    justify-content: space-between;
    top: 1;
    height: 10%;
    width: fit-content;
    margin-top: 5px;
    
}

.img{
    
    
}

.menu__title{
    font-weight: 800;
    margin-right: auto;
    display: flex;
    padding-left: 10px;
}
.menu__header{
    height: 60px;
    padding: 0 30px;
    display:contents;
    gap: 10px;
    align-content: center;
    justify-content: space-between;
     margin-right: 80%;
     
}

nav{
    display: flex;
    
}

.menu__list{
    display: none;
    flex-direction: row;
    justify-content: space-between;

  
}
.menu__list__item{
display: flex;
margin: 10px;
font-size: medium;
box-sizing: content-box;
}

.menu__list__item__contato{
    display:flex;
    justify-content: flex-end;
    font-weight:bold;
    margin-left: 90%;
   
}
 


/*Sección Title*/

section.title{
    display: inline-flex;
    position: relative;
    justify-content: space-around;
    width: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    
    }

    .title__container{
        display: flex;
        position: relative;
        justify-content: center;
        width: fit-content;
        flex-direction: column;
        flex-wrap: wrap;
        box-sizing: border-box;
       
    }

    .title__div{
        display: contents;
        position: relative;
        /* justify-content: center; */
        width: -webkit-fill-available;
        /* flex-direction: column; */
        /* flex-wrap: wrap; */
        box-sizing: border-box;
       
    }
    .title__profile{
        display: flex;
        width: 13%;
        border-radius: 15px;
        position: relative;
        margin: 15px;
        
}


.title__bio{
    font-size: medium;
    margin: 20px 0 20px 0;
}

.title__subsection{
    font-size: small;
    font-weight: 300;
    margin: 20px 0 20px 0;
}
.title__network{
    display: flex;
    justify-content: left;
    margin: 10px 0 0 0;
    gap: 35px;
    font-size: small;
   
}

/*Sección About*/

section.about{
    display: flex;
    position: relative;
    justify-content: center;
    width: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 10px;
   margin-bottom: 20px;
}

.about{
    display: flex;
    position: relative;
    justify-content: center;
    width: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 30px 10px 10px 0;
   
}

.about__container{
    display: flex;
    position: relative;
    justify-content: center;
    width: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
}

/* Seccion skills */

section.skills{
    position: relative;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    margin-top: 40px;
    margin-bottom:20px;
    
}

.skills__box{
    box-sizing: border-box;
    width:fit-content;
    background-color:white;
    padding: 5px;
    justify-content: space-between;
    margin: 10px;
    

}

.skills__line{
    display: ruby;
    flex-direction:row ;
    text-align: center;
    margin-bottom: 10px;
    
}



/*Sección Hobbies*/

section.hobbies{
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hobbies__line{
    display: ruby;
    flex-direction:row ;
    text-align: center;
    margin-bottom: 20px;
}

.hobbies__box{
box-sizing: border-box;
width: 20%;
background-color:white;
padding: 10px;
margin-top: 20px;
}

/* Experiencia Académica*/

section.academic{
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;

}

.academic__courses{
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* experiencia*/

section.experience{
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*Contacto*/

section.formcontato{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.formcontato__img{
    display: none;
}
.formcontato__form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

/*footeer*/

section.footer{
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*PC*/

@media (max-width: 480px) {
body{
    background: linear-gradient(#f5f5f5 14.5%, #E3F2F5 14.5% 24%, #f5f5f5 24% 36.25%, 
    #E3F2F5 36.25% 55.5%, #f5f5f5 55.5% 88.8%, #E3F2F5 88.8% 98.4%, #f5f5f5 98.4% 100%);
     display: block;
    unicode-bidi: isolate;
}


section.title {
    width: min-content;
    display: contents;
}

.title__profile{
    display: flex;
    width: 20%;
    border-radius: 15px;
    position: relative;
    margin: 5px;
    
}

.experience{
    display: flex;
    position: relative;
    align-items: center;
}
.experience__img{
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
}

}



@media (min-width: 1024px) {

body{
    background: linear-gradient(#f5f5f5 0 10.5%, #E3F2F5 10.5% 14%, #f5f5f5 14% 24.5%, 
    #E3F2F5 24.5% 40.5%, #f5f5f5 40.5% 78.6%, #E3F2F5 78.6% 98%, #f5f5f5 98% 100%);
}

.body{
    display: flex;
    overflow: scroll;
    justify-content:baseline;
    position: fixed;
    width: auto;
    flex-direction: row-reverse;
    
}

/* Menú */

.menu{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1;
    height: 10%;
    width: 98%;
    vertical-align: baseline;
    margin-top: 5px;
    font-size: large;
    
}
.menu__list{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    gap: 10px;
    justify-content: flex-end;
   margin-right: 25px;
  
}

.menu__list__item{
    display: inline-flex;
    justify-content: space-around;

}
.menu__list__item__contato{
    display: flex;
    justify-content: end;
    margin: auto;
}


    
/*title*/

.title__div {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
}

.title__bio{
    font-size:x-large;
    margin: 40px 0 10px 0;
}

.title__subsection{
    font-size: large;
    margin: 20px 20px 10px 0px;
}

.title__network{
    font-size: medium;
    margin: 40px 20px 0px 0px;
}
.title__profile{
    width: 11%;
}
/*Sección About*/

section.about{
    margin-top: 10px;
    margin-bottom: 10px;
    
 }
 
 .about{
 
    
 }
 
 .about__container{
     display: -webkit-box;
     position: relative;
     flex-direction: column;
     justify-content: left;
     width:auto;
     text-align: left;
     margin-bottom: 20px;
 }
 
 /* Seccion skills */
 
 section.skills{
     display: flex;
     position: relative;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     margin-top:40px;
     margin-bottom: 10px;
 }
 
 .skills__box{
     box-sizing: border-box;
 width: 35%;
 background-color:white;
 
 }
 
 .skills__line{
     display: flex;
     flex-direction:row ;
     text-align: center;
     
 }
 
 
 
 /*Sección Hobbies*/
 
 section.hobbies{
     position: relative;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     margin-top: 2%;
     margin-bottom: 2%;
 }
 
 .hobbies__line{
     display: ruby;
     flex-direction:row ;
     text-align: center;
 }
 
 .hobbies__box{
 box-sizing: border-box;
 width: 20%;
 background-color:white;
 padding: 10px;
 }
 
 /* Experiencia Académica*/
 
 section.academic{
     position: relative;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     margin-top: 2%;
     margin-bottom: 2%;
 
 }
 
 .academic__courses{
     position: relative;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     margin-top: 2%;
     margin-bottom: 2%;
 }
 
 /* experiencia*/
 
 section.experience{
     position: relative;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     margin-top: 2%;
     margin-bottom: 2%;
 }
 
 /*Contacto*/
 
 section.formcontato{
    display: flex;
     position:relative;
     flex-direction: row;
     justify-content: center;
     text-align: center;
     margin-top: 2%;
     margin-bottom: 2%;
     width: auto;
    box-sizing: border-box;
 }

 formcontato-esquerda{
    display: inline-flex;
    flex-direction: row;
    width: 25%;
    text-align: left;
 }

 .formcontato__img{
    display: inline-flex;
    width: 45%;
    text-align: left;

.formcontato__text{
    display: flex;

}
}
 
 /*footeer*/
 
 section.footer{

     position:relative;
     flex-direction: row;
     justify-content: center;
     text-align: center;
     margin-top: 2%;
     margin-bottom: 2%;
 }
 

}


